@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --header-height: 2.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(0, 0%, 93%);
    --black-color-light: hsl(0, 0%, 69%);
    --black-color-lighten: hsl(0, 0%, 82%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: rgb(17, 17, 17);

}

body {
  background: #e4e4e4;
}

nav li:hover {
  border-bottom: 3px solid #0C38AD;
}

#fb-logos img {
  height: 45px;
  width: 45px;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
    
  }
  
  .nav__logo, 
  .nav__burger, 
  .nav__close {
    color: #0C38AC;
  }
  
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }

  .nav li a {
    font-size: 16px;
  }

  #message {
    outline: 2px solid gray;
    border-radius: 4px;
    padding: 4px 14px;
    height: 30px;
    width: auto;
    align-self: center;
    background: #0C38AC;
  }

  #message a {
    background: #0C38AC;
    color: #fff;
  }

  .nav__logo h1 {
    color: #222222;
    font-size: 18px;
  }
  
  .nav__logo img {
    height: 50px;
  }
  
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .nav__burger, 
  .nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
  }
  
  .nav__close {
    opacity: 0;
  }
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1118px) {
    .nav__menu {
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0;
    }
    .nav__list {
      background-color: var(--black-color);
      padding-top: 1rem;
    }
  }
  
  .nav__link {
    color: #222222;
    background-color: var(--black-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
  }
  
  .nav__link:hover {
    background-color: var(--black-color-light);
  }

  .nav__link img {
    height: 35px;
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
  }
  .show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__item {
    cursor: pointer;
  }
  
  .dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
  }
  
  .dropdown__link, 
  .dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: #222222;
    background-color: var(--black-color-light);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
  }
  
  .dropdown__link i, 
  .dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
  }
  
  .dropdown__link:hover, 
  .dropdown__sublink:hover {
    background-color: var(--black-color);
  }
  
  .dropdown__menu, 
  .dropdown__submenu {
    margin: -15px 0 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
    z-index: 999;
  }
  
  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu, 
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 100px;
    transition: max-height .4s ease-in;
  }
  
  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }
  
  .dropdown__sublink {
    background-color: var(--black-color-lighten);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .nav__link {
      padding-inline: 1rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1118px) {
    .container {
      margin-inline: auto;
    }
  
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    .nav__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
    }
    .nav__link:hover {
      background-color: transparent;
    }
  
    .dropdown__item, 
    .dropdown__subitem {
      position: relative;
    }
  
    .dropdown__menu, 
    .dropdown__submenu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }
  
    .dropdown__link, 
    .dropdown__sublink {
      padding-inline: 1rem 3.5rem;
    }
  
    .dropdown__subitem .dropdown__link {
      padding-inline: 1rem;
    }
  
    .dropdown__submenu {
      position: absolute;
      left: 100%;
      top: .5rem;
    }
  
    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top .3s;
    }
  
    /* Show dropdown submenu */
    .dropdown__subitem:hover > .dropdown__submenu {
      opacity: 1;
      top: 0;
      pointer-events: initial;
      transition: top .3s;
    }
  }
.hero {
    display: flex;
    padding: 80px 4%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.78),rgba(255,255,255,.90)), url('assets/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero .content {
    width: 60%;
}

#company {
    background: #0C38AD;
    color: #ffffff;
    display: inline;
    padding: .5rem;
    border-radius: 4px;
    pointer-events: none;
}

.hero .content h1 {
    margin-top: 15px;
    font-weight: 100;
    font-size: 52px;
    pointer-events: none;
    color: #222222;
}

strong {
    color: #FE022A;
}

.hero .content #minor {
    margin: 1rem 0 2rem 0;
    font-size: 22px;
    font-weight: 100;
}

.hero .content .hero-btns {
    width: 200px;
    padding: .6rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: none;
    color: #333333;
    text-decoration: none;
}

.hero .content #contact-button:hover {
    -webkit-animation: blink-1 0.6s both;
    animation: blink-1 0.6s both;
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

button:active {
    transform: scale(1.05);
}

#cta {
    background: #0C38AD;
    color: #ffffff;
}

#cta:hover {
    background: #114ef5;
}

.hero .image img {
    height: 500px;
    filter: drop-shadow(10px 6px 6px #0f0f0f);
}

.section1 {
    align-items: center;
    padding: 25px;
    background: rgb(245, 245, 245);
}

.section1 h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 3rem;
}

.fp-container {
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
    width: 200px;
    height: 300px;
}

.card h2 {
    margin-bottom: 1rem;
}

.card p {
    font-weight: 300;
}

#featured-image {
    width: 180px;
    height: 150px;
}

.featured-details {
    height: 200px;
}

.section2 {
    padding: 40px 4%;
    background: linear-gradient(rgba(28, 28, 28, 0.4),rgba(76, 76, 76, 0.7)), url('assets/misc.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section2 h1 {
    text-align: center;
    font-size: 42px;
    color: #fff;
}

.section-container {
    display: flex;
    justify-content: center;
    padding: 25px 30px;
}

.section2 form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.section2 form.animate {
    animation: form-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes form-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-35%);
              transform: translateX(-35%);
    }
  }
  @keyframes form-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-35%);
              transform: translateX(-35%);
    }
}

.section2 form select {
    width: 400px;
    align-self: center;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin: 15px 0 15px 0;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.section2 button {
    width: 200px;
    background: #0C38AD;
    color: #ffffff;
    align-self: center;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.section2 button:hover {
    background: #114ef5;
}

.section2 button:active {
    transform: scale(1.05);
}

.battery {
    display: none;
}

.battery.animate {
    display: flex;
    justify-content: space-around;
    animation: slide-left 0.5s cubic-bezier( 0.49, 0.34, 0.4, 0.93 ) both;
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              -webkit-filter: blur(15px);
              filter: blur(15px);
    }
    100% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
              -webkit-filter: blur(0);
              filter: blur(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
              -webkit-filter: blur(15px);
              filter: blur(15px);
    }
    100% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
              -webkit-filter: blur(0);
              filter: blur(0);
    }
}

.battery .battery-details {
    width: 400px;
    margin-left: 35px;
}

.battery img {
    height: 300px;
}

.section3 {
    padding: 40px 4%;
    background: rgb(245, 245, 245);
}

.section3 h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 3rem;
    color: #FE022A
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.section3 .timeline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 800px;
}

.section3 .mission-vision {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mv-card {
    width: 600px;
}

.lubricants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.lubricants h1 {
  color: #0f0f0f;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.lubricants h3, .lubricants ul li {
  color: #0f0f0f;
}

.lubricants ul {
  margin-top: 1rem;
}

.products h1 {
    text-align: center;
    font-size: 42px;
    padding-top: 2.5rem;
    color: #fff;
}

.products .product-container {
    min-height: 100vh;
    padding: 5rem 15px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url('assets/oil.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;

}

.products img {
    height: 320px;
}

.products .main-details {
    list-style: none;
    font-size: 18px;
    margin-top: 1rem;
}

.product-card h2 {
    color: #fff;
}

.product-card li {
    color: #fff;
}


.product-card button {
    font-size: 16px;
    padding: .5rem;
    border: none;
    margin-top: 1rem;
    border-radius: 4px;
    background: #0C38AD;
    color: #ffffff;
    cursor: pointer;
}

.product-card button #inquire {
  color: #ffffff;
}


.product-card #inquire:active {
    transform: scale(1.05);
}

.posters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 3rem 0;
}

.posters img {
  height: 700px;
}

.catalog {
  padding: 2rem 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.catalog-title {
  text-align: center;
  padding: 25px;
  font-size: 42px;
}

#samic-catalog, #samic-product-list {
  height: 100vh;
  width: 80vw;
  border-radius: 4px;
}

/*CONTACT US*/
.contact {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 4%;
    background: linear-gradient(rgba(152, 152, 152, 0.78),rgba(255,255,255,.90)), url('assets/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contact-form {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.604);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 30%;
    height: 550px;
    padding: 20px 15px;
    
}

.contact-form form {
    display: flex;
    flex-direction: column;
    
}


.contact-form form h2 {
    margin-bottom: 1rem;
}

.contact-form label {
    margin: 1rem 0 .3rem;
    font-weight: 500;
}

.contact-form form input {
    height: 45px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

textarea {
    resize: none;
    border: none;
    border-radius: 4px;
    padding: 12px 10px;
    overflow-wrap: break-word;
}

.map iframe {
    border-radius: 4px;
    box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.604);
}

.contact-form button {
    margin: 2rem 0 0;
    height: 40px;
    width: 30%;
    align-self: center;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background: #0C38AD;
    color: #fff;
}

.contact-form button:hover {
    background: #114ef5;
}

/*REGISTER LOGIN*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0, 0.8)), url('assets/oil.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.login h1 {
   text-align: center;
   font-size: 42px;
   color: #fff;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-form input {
    width: 140%;
    font-size: 18px;
    margin: 1rem 0;
    padding: 10px;
    text-align: center;
}

#login-btn {
    width: 200px;
    padding: .6rem;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: #0C38AD;
    color: #fff;
    text-decoration: none;
}

#login-btn:hover {
    background: #114ef5;
}

#form-logo {
    height: 80px;
    width: 80px;
    margin-top: 10rem; 
}

#reg-link {
  color: #114ef5;
  margin-top: 15px;
  text-decoration: underline;
}

#reg-link:hover {
  text-decoration: none;
}

#password-err {
  color: red;
}


@media only screen and (max-width: 600px) {
    .nav {
        padding: 1rem 0;
    }
    .nav-links {
        display: none;
    }
    .hero {
        display: block;
        text-align: center;
    }
    .hero .content {
        width: 100%;
    }
    .hero .image {
        display: none;
    }
    .section1 {
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
    }
    .fp-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 380px;
    }
    .section2 form select {
        width: 340px;
    }
    .about-container {
        flex-direction: column;
    }
    .section3 li {
        margin-left: 15px;
    }
    .section3 .timeline {
        width: 400px;
    }
    .section3 .mission-vision {
        width: 400px;
    }
    .mv-card {
        width: 380px;
    }
    .products {
      background-repeat: no-repeat;
      background-attachment: fixed;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
    }
    .products .product-container  {
        flex-direction: column;
        min-height: 250vh;
        
        align-items: center;
        justify-content: space-evenly;
    }
    .products img {
        width: 370px;
    }
    .product-card button {
        margin-bottom: 2rem;
    }
    .contact {
        flex-direction: column;
        gap: 20px;
    }
    .contact-form {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
    .lubricants img {
        width: 60%;
    }
    .posters {
      flex-direction: column;
    }
    .posters img {
      height: 700px;
    }
}